In [29]:
#!/usr/bin/python3
import json
from pprint import pprint

jstr = {
  "_id": {
    "$oid": "58af8f6681688630d09fe907"
  },
  "shipment": {
    "$ref": "shipment",
    "$id": {
      "$oid": "58af8e5881688630d09fd6f7"
    }
  },
  "container": {
    "barcode": "0100041486",
    "code": "인천82아9914",
    "typeCode": "T17",
    "typeName": "11t",
    "typeGroup": "LINEHAULTRUCK"
  },
  "containerUsage": {
    "id": {
      "$numberLong": 11090
    },
    "container": {
      "barcode": "0100041486",
      "code": "인천82아9914",
      "typeCode": "T17",
      "typeName": "11t",
      "typeGroup": "LINEHAULTRUCK"
    },
    "originWorkplace": {
      "id": 81,
      "code": "5",
      "name": "인천4HUB",
      "type": "HUB"
    },
    "destinationWorkplace": {
      "id": 85,
      "code": "8",
      "name": "칠곡HUB",
      "type": "HUB"
    },
    "totalShipmentQuantity": 533,
    "totalShipmentWeight": 838380,
    "totalShipmentVolume": {
      "$numberLong": "9146143800"
    }
  },
  "invoiceNumber": "10171451773755",
  "orderNumber": {
    "$numberLong": "8000004926554"
  },
  "worker": {
    "id": 49,
    "username": "in0032",
    "fullName": "in0032 (안병도)"
  },
  "status": "CENTER_LOADED",
  "workplace": {
    "id": 81,
    "code": "5",
    "name": "인천4HUB",
    "type": "HUB"
  },
  "targetWorkplace": {
    "id": 85,
    "code": "8",
    "name": "칠곡HUB",
    "type": "HUB"
  },
  "happenedAt": {
    "$date": "2017-02-24T01:40:19Z"
  },
  "createdBy": "in0032",
  "createdAt": {
    "$date": "2017-02-24T01:41:58.184Z"
  },
  "updatedBy": "in0032",
  "updatedAt": {
    "$date": "2017-02-24T01:41:58.184Z"
  }
},{
  "_id": {
    "$oid": "58af8f6681688630d09fe907"
  },
  "shipment": {
    "$ref": "shipment",
    "$id": {
      "$oid": "58af8e5881688630d09fd6f7"
    }
  },
  "container": {
    "barcode": "0100041486",
    "code": "인천82아9914",
    "typeCode": "T17",
    "typeName": "11t",
    "typeGroup": "LINEHAULTRUCK"
  },
  "containerUsage": {
    "id": {
      "$numberLong": 11090
    },
    "container": {
      "barcode": "0100041486",
      "code": "인천82아9914",
      "typeCode": "T17",
      "typeName": "11t",
      "typeGroup": "LINEHAULTRUCK"
    },
    "originWorkplace": {
      "id": 81,
      "code": "5",
      "name": "인천4HUB",
      "type": "HUB"
    },
    "destinationWorkplace": {
      "id": 85,
      "code": "8",
      "name": "칠곡HUB",
      "type": "HUB"
    },
    "totalShipmentQuantity": 533,
    "totalShipmentWeight": 838380,
    "totalShipmentVolume": {
      "$numberLong": "9146143800"
    }
  },
  "invoiceNumber": "10171451773755",
  "orderNumber": {
    "$numberLong": "8000004926554"
  },
  "worker": {
    "id": 49,
    "username": "in0032",
    "fullName": "in0032 (안병도)"
  },
  "status": "CENTER_LOADED",
  "workplace": {
    "id": 81,
    "code": "5",
    "name": "인천4HUB",
    "type": "HUB"
  },
  "targetWorkplace": {
    "id": 85,
    "code": "8",
    "name": "칠곡HUB",
    "type": "HUB"
  },
  "happenedAt": {
    "$date": "2017-02-24T01:40:19Z"
  },
  "createdBy": "in0032",
  "createdAt": {
    "$date": "2017-02-24T01:41:58.184Z"
  },
  "updatedBy": "in0032",
  "updatedAt": {
    "$date": "2017-02-24T01:41:58.184Z"
  }
}

data_str = json.dumps(jstr)
data = json.loads(data_str)
pprint(data)

[{'_id': {'$oid': '58af8f6681688630d09fe907'},
  'container': {'barcode': '0100041486',
                'code': '인천82아9914',
                'typeCode': 'T17',
                'typeGroup': 'LINEHAULTRUCK',
                'typeName': '11t'},
  'containerUsage': {'container': {'barcode': '0100041486',
                                   'code': '인천82아9914',
                                   'typeCode': 'T17',
                                   'typeGroup': 'LINEHAULTRUCK',
                                   'typeName': '11t'},
                     'destinationWorkplace': {'code': '8',
                                              'id': 85,
                                              'name': '칠곡HUB',
                                              'type': 'HUB'},
                     'id': {'$numberLong': 11090},
                     'originWorkplace': {'code': '5',
                                         'id': 81,
                                         'name': '인천4HUB',
                                         'type': 'HUB'},
                     'totalShipmentQuantity': 533,
                     'totalShipmentVolume': {'$numberLong': '9146143800'},
                     'totalShipmentWeight': 838380},
  'createdAt': {'$date': '2017-02-24T01:41:58.184Z'},
  'createdBy': 'in0032',
  'happenedAt': {'$date': '2017-02-24T01:40:19Z'},
  'invoiceNumber': '10171451773755',
  'orderNumber': {'$numberLong': '8000004926554'},
  'shipment': {'$id': {'$oid': '58af8e5881688630d09fd6f7'}, '$ref': 'shipment'},
  'status': 'CENTER_LOADED',
  'targetWorkplace': {'code': '8', 'id': 85, 'name': '칠곡HUB', 'type': 'HUB'},
  'updatedAt': {'$date': '2017-02-24T01:41:58.184Z'},
  'updatedBy': 'in0032',
  'worker': {'fullName': 'in0032 (안병도)', 'id': 49, 'username': 'in0032'},
  'workplace': {'code': '5', 'id': 81, 'name': '인천4HUB', 'type': 'HUB'}},
 {'_id': {'$oid': '58af8f6681688630d09fe907'},
  'container': {'barcode': '0100041486',
                'code': '인천82아9914',
                'typeCode': 'T17',
                'typeGroup': 'LINEHAULTRUCK',
                'typeName': '11t'},
  'containerUsage': {'container': {'barcode': '0100041486',
                                   'code': '인천82아9914',
                                   'typeCode': 'T17',
                                   'typeGroup': 'LINEHAULTRUCK',
                                   'typeName': '11t'},
                     'destinationWorkplace': {'code': '8',
                                              'id': 85,
                                              'name': '칠곡HUB',
                                              'type': 'HUB'},
                     'id': {'$numberLong': 11090},
                     'originWorkplace': {'code': '5',
                                         'id': 81,
                                         'name': '인천4HUB',
                                         'type': 'HUB'},
                     'totalShipmentQuantity': 533,
                     'totalShipmentVolume': {'$numberLong': '9146143800'},
                     'totalShipmentWeight': 838380},
  'createdAt': {'$date': '2017-02-24T01:41:58.184Z'},
  'createdBy': 'in0032',
  'happenedAt': {'$date': '2017-02-24T01:40:19Z'},
  'invoiceNumber': '10171451773755',
  'orderNumber': {'$numberLong': '8000004926554'},
  'shipment': {'$id': {'$oid': '58af8e5881688630d09fd6f7'}, '$ref': 'shipment'},
  'status': 'CENTER_LOADED',
  'targetWorkplace': {'code': '8', 'id': 85, 'name': '칠곡HUB', 'type': 'HUB'},
  'updatedAt': {'$date': '2017-02-24T01:41:58.184Z'},
  'updatedBy': 'in0032',
  'worker': {'fullName': 'in0032 (안병도)', 'id': 49, 'username': 'in0032'},
  'workplace': {'code': '5', 'id': 81, 'name': '인천4HUB', 'type': 'HUB'}}]

In [37]:
type(data[0])

dict

In [33]:
data[0].get("containerUsage")

{'container': {'barcode': '0100041486',
  'code': '인천82아9914',
  'typeCode': 'T17',
  'typeGroup': 'LINEHAULTRUCK',
  'typeName': '11t'},
 'destinationWorkplace': {'code': '8',
  'id': 85,
  'name': '칠곡HUB',
  'type': 'HUB'},
 'id': {'$numberLong': 11090},
 'originWorkplace': {'code': '5', 'id': 81, 'name': '인천4HUB', 'type': 'HUB'},
 'totalShipmentQuantity': 533,
 'totalShipmentVolume': {'$numberLong': '9146143800'},
 'totalShipmentWeight': 838380}

In [34]:
from pandas.io.json import json_normalize

In [35]:
json_normalize(data[0])

,_id.$oid,container.barcode,container.code,container.typeCode,container.typeGroup,container.typeName,containerUsage.container.barcode,containerUsage.container.code,containerUsage.container.typeCode,containerUsage.container.typeGroup,...,targetWorkplace.type,updatedAt.$date,updatedBy,worker.fullName,worker.id,worker.username,workplace.code,workplace.id,workplace.name,workplace.type
0,58af8f6681688630d09fe907,0100041486,인천82아9914,T17,LINEHAULTRUCK,11t,0100041486,인천82아9914,T17,LINEHAULTRUCK,...,HUB,2017-02-24T01:41:58.184Z,in0032,in0032 (안병도),49,in0032,5,81,인천4HUB,HUB

In [6]:
data.get("status","createdAt")

'CENTER_LOADED'

In [5]:
import ijson
from ijson import parse

In [22]:
f=open('test.json','r')
parser = parse(f)

In [23]:
objects = ijson.items(f, 'containerUsage.container.item')

In [24]:
for obj in objects:
    print(obj["typeName"])